
.photo {

width: 100%;
height: 100%;
left: 0px;
top: 78px;

}
body{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
    display: flex;

}
.li_1 {
padding-left: 440px;
text-decoration: none;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 38px;

align-items: center;
letter-spacing: 2.7px;
text-transform: uppercase;

color: #FF0000;
}
.li_2 {
padding: 105px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 38px;
text-decoration: none;
align-items: center;
letter-spacing: 2.7px;
text-transform: uppercase;

color: #FF0000;

}

.li_3 {
    padding-right: 100px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 38px;
    text-decoration: none;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    
    color: #FF0000;
    
}
.li_4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 38px;
    text-decoration: none;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    
    color: #FF0000;
    
}
.main_title {
    text-align: center;
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 34px;
line-height: 27px;
align-items: flex-end;
letter-spacing: 3.3px;
text-transform: uppercase;
font-weight: bolder;
color: #373737;

}
.content {
    text-align: center;
padding-top: 10px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 26px;

letter-spacing: 2.4px;

color: #373737;
}
.button {
    width: 191px;
height: 51px;
left: 544.5px;
top: 557px;
margin-left: 45%;
margin-top: 30px;
background: #FF0000;
border-radius: 4px;
}
.button_text {
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 12px;
align-items: center;
letter-spacing: 1.8px;
text-transform: uppercase;
color: #FFFFFF;
}
.footer_text {
    padding: 105px;
text-align: right;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 20px;
letter-spacing: 2.4px;
color: #373737;
}
.button-dark {
    background-color: #373737;
}