@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
* {
    font-family: Roboto;
    text-decoration: none;
    color: white;
}
.container {
    width: 1030px;
    margin: auto;
}
body {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__logo::before {
    position: absolute;
    content: "";
    display: block;
    background-image: url(../images/logo1.png);
    width: 53px;
    height: 47px;
    top: 50px;
    cursor: pointer;
}
.header__logo::before:hover {
    background-image: url(../images/logo2.png);
}
.header__logo:hover h1,.header__logo:hover h2{
    transition:  0.5s;
    color: #F26522;
    
}
.header__logo {
    transition: 0.5s;
}
.header__logo:hover {
    color: red;
}
.header__logo h1 {
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    margin: 0;
    margin-bottom: 5px;
    margin-top: 50px;
}
.header__logo h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin: 0;
    margin-bottom: 30px;
}
.header__logo h2,
.header__logo h1 {
    cursor: pointer;
    margin-left: 60px;
}
.contacts {
    display: flex;
    flex-direction: column;
    text-align: end;
    transition:  0.5s;
}
.contacts:hover a {
    transition:  0.5s;
    color: #F26522;
}
.contacts a{ 
    margin-top: 5px;
    padding: 5px;
}
.main__cards {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 60px;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
}   
.cards__content-hover img, .cards__content-hover h4 {
    transition: 0.5s;
}
.cards__content-hover:hover img, .cards__content-hover:hover h4 {
    cursor: pointer;
    color: #F26522;
    transition: 0.5s;
}   
.cards__content {
    position: relative;
    transition: 0.5s;
}
.hover__content {
    position: absolute;
    display: none;
    cursor: pointer;
    
}
.hover__content2 {
    position: absolute;
    display: none;
    cursor: pointer;
}
.hover__content-text {
    margin-left: 25px;
}
.hover__content-text-from {
    font-size: 10px;
    line-height: 10px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0;
}
.hover__content-text-price {
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
}
.hover__content-details {
    font-size: 14px;
    line-height: 14px;  
    margin-left: 130px;
    padding-top: 12px;
    position: relative;
}
.hover__content-details::after {
    display: block;
    content: "";
    position: absolute;
    background-image: url(../images/more.png);
    width: 7px;
    height: 12px;
    background-repeat: no-repeat;
    top: 50%;
    left: 90px;
}
.cards__content-hover:hover::after {
    display: block;
    content: "";
    position: absolute;
    background: #F26522;
    width: 300px;
    height: 55px;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
    cursor: pointer;
}
.cards__content-hover:hover .hover__content {
    display: flex;
    justify-content: space-between;
    top : 165px;
    z-index: 1;
}   
.footer {
    margin-top: 130px;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
}