@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
}

.div__title {
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    font-style: normal;
    font-weight: normal;
    position: relative;
}
.div__title::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #18CFAB;
    width: 75.54px;
    height: 1px;
    left: 68px;
    top: 69px;
}
.div__title::before {
    content: "";
    position: absolute;
    display: block;
    background-color: #18CFAB;
    width: 75.54px;
    height: 1px;
    left: 80px;
    top: 74px;
}

.div__title-works {
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    font-style: normal;
    font-weight: normal;
    position: relative;
}
.div__title-works::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #18CFAB;
    width: 75.54px;
    height: 1px;
    left: 113px;
    top: 69px;
}
.div__title-works::before {
    content: "";
    position: absolute;
    display: block;
    background-color: #18CFAB;
    width: 75.54px;
    height: 1px;
    left: 137px;
    top: 74px;
}
.div__title-news {
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    font-style: normal;
    font-weight: normal;
    position: relative;
}
.div__title-news::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #18CFAB;
    width: 75.54px;
    height: 1px;
    left: 82px;
    top: 69px;
}
.div__title-news::before {
    content: "";
    position: absolute;
    display: block;
    background-color: #18CFAB;
    width: 75.54px;
    height: 1px;
    left: 102px;
    top: 74px;
}

.container {
    margin: auto;
    width: 1160px;
}

.header {
 
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
}
.header-flex {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.header-logo a {
    font-size: 32px;
    line-height: 48px;
    text-decoration: none;
    color: #FFFFFF;
    
}

.header-logo {
    position: relative;
}
.header-logo::after {
    content: "H";
    position: absolute;
    display: block;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
    left: -1.5px;
    top: 0px;
    cursor: pointer;
}
.header-logo::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../images/pseudo/logo.svg");
    width: 58px;
    height: 67px;
    left: -14px;
    top: -10px;
    cursor: pointer;
}

.header-logo-first-half {
    margin-right: 30px;
}

.green-text {
    font-weight: bold;
    color: #18CFAB;
}

.header__we-are-creative {
    background-image: url("../images/backgrounds/bg1.png");
    background-size: cover;
    background-repeat: repeat;
    height: 1012px;
}

.header__nav {
    display: flex;
    list-style: none;
    position: relative;
}
.header__nav::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../images/pseudo/search.png");
    width: 21px;
    height: 20px;
    left: 707px;
    top: 2px;
    cursor: pointer;
}

.header__nav-li {
    margin-right: 21px;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    
}
.header__nav-a {
    transition: 0.2s;
    padding-bottom: 50px;
}
.header__nav-a:hover {
    color: #18CFAB;
    transition: 0.3s;
    border-bottom: 2px solid #18CFAB;
    
}

.header__we-are-flex {
    height: 812px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__we-are-flex-text {
    text-align: center;

}

.header-h2 {
    font-weight: bold;
    font-size: 35px;
    line-height: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 21px;
}
.header-h1 {
    font-weight: bold;
    font-size: 78px;
    line-height: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 21px;
}
.header-h3 {
    font-weight: normal;
    font-size: 34px;
    line-height: 1px;
    color: #D4D4D4;
}

.header__button-explore {
    background: #18CFAB;
    width: 169px;
    height: 63px;
    border-radius: 5px;
    border: none;
    margin-top: 134px;
    margin-right: 25px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    cursor: pointer;
    z-index: 15;
    box-shadow: 0px -5px 1px 0px #FFFFFF;
}
.header__button-purchase {
    background: #00CBF6;
    width: 169px;
    height: 63px;
    border-radius: 5px;
    border: none;
    margin-top: 134px;
    margin-right: 25px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    box-shadow: 0px -5px 1px 0px #FFFFFF;
}

.container__center {
    display: flex;
    justify-content: center;
}
.information__cards {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}
.information__cards-dark {
    width: 475.6px;
    height: 377px;
    background: #1C2A33;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #18CFAB;
}
.information__cards-light {
    width: 475.6px;
    height: 377px;
    background: #18CFAB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services {
    height: 550px;
    margin-top: 80px;
}
.services-flex {
    display: flex;
    flex-direction: column;
}
.services__first {  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__nav-list {
    margin-top: 100px;
    display: flex;
    list-style: none;
}
.services__nav-a {
    text-decoration: none;
    color: #717171;
    font-size: 15.9859px;
    line-height: 39px;
    text-align: center;
    margin: 2px;
    padding: 20px 15px;
    border: 1.5px solid #EDEFEF;
    cursor: pointer;
}
.services__nav-a:hover {
    transition: 0.3s;
    border: 1.5px solid #18CFAB;
}
.services__nav-a-active {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15.9859px;
    line-height: 39px;
    text-align: center;
    margin: 2px;
    padding: 20px 15px;
    border: 1.5px solid #18CFAB;
    background-color: #18CFAB;;
    position: relative;
}
.services__nav-a-active::after {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../images/pseudo/triangle.png");
    width: 25px;
    height: 13.5px;
    left: 53px;
    top: 79px;
}

.services__information {
    margin-left: 90px;
    display: flex;
    width: 1000px;
}
.services__information-photo {
    display: block;
}
.services__information-text {
    display: block;
    color: #777777;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    margin-top: 0px;
    margin-left: 15px;
    
}

.everything {
    margin-top: 90px;
    background-image: url("../images/backgrounds/bg2.png");
    background-size: cover;
    background-repeat: repeat;
    height: 476px;
}
.everything__container {
    height: 476px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.everything-title {
    color: #18CFAB;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 18px;
}
.everything-text {
    color: #D8D8D8;
    font-size: 16px;
    line-height: 40px;
    margin-top: 0px;
}
.everything-button {
    background: #18CFAB;
    width: 169px;
    height: 63px;
    border-radius: 5px;
    border: none;
    margin-top: 50px;
    margin-right: 25px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0px -5px 1px 0px #FFFFFF;
}

.works-flex {
    height: 365px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.works__nav-list {
    margin-top: 67px;
    list-style: none;
    display: flex;
}
.works__nav-li {
    font-size: 14px;
    line-height: 42px;
    color: #717171;;
    cursor: pointer;
    padding: 6px 25px;  
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
}
.works__nav-li:hover {
    transition: 0.3s;
    color: #18CFAB;
    border: 1px solid #18CFAB;;
}
.works__nav-li-active {
    color: #18CFAB;
    border: 1px solid #18CFAB;
    color: #18CFAB;
}
.works__images {
    display: flex;
    flex-wrap: wrap;
}
.hover-div {
    position: relative;
    display: inline-block;
}
.works__images-image {
    display: none;
}
.works__images-image-active {
    position: relative;
    width: 283px;
    height: 207px;
    display: inline-block;
}
.works__images-text {
    position: absolute;
    border-top: 4px solid #18CFAB;
    width: 282px;
    height: 208px;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    z-index: 2;
}
.works__images-text:hover {
    opacity: 1;
}
.hide {
    display: none;
}
.works__images-text::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../images/pseudo/worklinks.png");
    width: 88px;
    height: 43px;
    left: 98px;
    top: 55px;
    cursor: pointer;
}
.works__images-text-h2 {
    position: absolute;
    top: 96px;
    left: 72px;
    color: #18CFAB;
    font-weight: bold;
    font-size: 14.1771px;
    line-height: 25px;
    text-transform: uppercase;
    display: inline;
}
.works__images-text-h3 {
    position: absolute;
    top: 126px;
    left: 103px;
    align-items: center;
    font-style: normal;
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
    color: #8A8A8A;
    display: inline;
}

.works-button-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}
.circle {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 10px solid gray;
    border-top: 10px solid #fff;
    animation: animate 2s infinite linear;
    opacity: 0;
}
@keyframes animate {
    0%{
        transform: translate(-20%,50%) rotate(0deg);
    }
    100%{
        transform: translate(-20%,50%) rotate(360deg);
    }
}
.works-button {
    margin-top: 90px;
    background: #18CFAB;
    width: 169px;
    height: 63px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    cursor: pointer;
    text-transform: uppercase;
    padding-left: 40px;
    position: relative;
    box-shadow: 0px -5px 1px 0px #FFFFFF;
}
.works-button::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../images/pseudo/plus.png");
    width: 16px;
    height: 17px;
    left: 19px;
    top: 21px;
} 

.news {
    display: flex;
    margin-top: 170px;
    flex-direction: column;
    justify-content: center;
    height: 840px;
    align-items: center;
}
.news__content {
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
}
.news__content a {
    text-decoration: none;
}
.news__content-card {
    margin-top: 30px;
    margin-right: 25px;
    position: relative;
    cursor: pointer;
}
.news__content-card::before{
    display: block;
    position: absolute;
    content: "";
    background: #203E38;
    width: 70px;
    height: 68px;
    top: 0px;
    left: 194px;
}
.news__content-card:hover  .news__content-card-title {
    color:#18CFAB;
    transition: 0.3s;
}
.news__content-card:hover::before {
    transition: 0.3s;
    background: #18CFAB;
}
.news__content-card-title {
    color: #717171;
    font-weight: bold;
    font-size: 17.9885px;
    line-height: 39px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.news__content-card-span {
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    color: #777777;
}
.sticker-day {
    position: absolute;
    display: block;
    top: 11px;
    left: 221px;
    color: rgb(255, 255, 255);
}
.sticker-mounth {
    position: absolute;
    display: block;
    top: 37px;
    left: 214px;
    color: rgb(255, 255, 255);
}

.people {
    height: 853px;
    margin-top: 120px;
    background-image: url("../images/backgrounds/bg3.png");
    background-size: cover;
    background-repeat: repeat;
    position: relative;
}
.people__title {
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    position: relative;
    margin-top: 97px;
}
.people__title::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #18CFAB;
    width: 75.54px;
    height: 1px;
    left: 255px;
    top: 69px;
}
.people__title::before {
    content: "";
    position: absolute;
    display: block;
    background-color: #18CFAB;
    width: 75.54px;
    height: 1px;
    left: 270px;
    top: 74px;
}
.people-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.people-first {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.people__text {
    margin-top: 168px;
    color: #BBBBBB;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    position: relative;
    display: none;
}
.people__text-active{
    margin-top: 168px;
    color: #BBBBBB;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    position: relative;
    display: block;
}
.people-flex::after {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../images/pseudo/quotes.png");
    width: 44px;
    height: 32px;
    left: 559px;
    top: 231px;
}
.people__name {
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #18CFAB;
    margin-bottom: 0;
    display: none;
}
.people-container {
    height: 360px;
}
.slider-item {
    display: none;
}
.active {
    display: block;
}
.people-container-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.people-container-img img{
    width: 143px;
    height: 142px;
}
.people__prof{
    margin-top: 0px;
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #BBBBBB;
    display: none;
}

.people-img {
    border: 4px solid rgba(31, 255, 207, 0.4);
    border-radius: 100px;
}
 .people-img-up {
    border: 4px solid rgba(31, 255, 207, 0.4);
    border-radius: 100px;
    margin-bottom: 40px;
} 
.people-main {
    border: 8px solid rgba(31, 255, 207, 0.4);
    border-radius: 100px;
}
.people__button-left,.people__button-right {
    color: #BBBBBB;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB; 
    width: 34px;
    height: 33px;
    cursor: pointer;
    font-size: 25px;
}
.people__button-left:hover,.people__button-right:hover {
    transition: 0.3s;
    border: 1px solid #18CFAB;
    background-color: #18CFAB;
    color: white;
}
.people__photo {
    width: 480px;
    margin-top: 155px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.gallery {
    margin-top: 100px;
}
.gallery-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery__title {
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    font-style: normal;
    font-weight: normal;
    position: relative;
}
.gallery__title::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #18CFAB;
    width: 75.54px;
    height: 1px;
    left: 150px;
    top: 69px;
}
.gallery__title::before {
    content: "";
    position: absolute;
    display: block;
    background-color: #18CFAB;
    width: 75.54px;
    height: 1px;
    left: 168px;
    top: 74px;
}
.gallery__sub-images-big {
    display: flex;
    
}
.gallery__images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    position: relative;
}
.gallery__sub-images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column ;
}
.gallery__sub-images-small {
    display: flex;
    flex-wrap: wrap;
    width: 364px;
}
.gallery__sub-images-group {
    padding: 1px;
}
.first-col {
    width: 122px;
    height: 92px;
    margin-right: 1px;
}
.second-col {
    width: 117px;
    height: 92px;
    margin-right: 1px;
}
.third-col {
    width: 113px;
    height: 92px;
}
.gallery__photo3 {
    position: absolute;
    display: block;
    top: 290px;
    left: 0px;
}
.gallery__photo4 {
    position: absolute;
    display: block;
    top: 397px;
    left: 385px;
}
.gallery__photo5 {
    position: absolute;
    display: block;
    top: 458px;
    left: 770px;
}
.gallery__photo6 {
    position: absolute;
    display: block;
    top: 572px;
    left: 0px;
}
.gallery__photo7 {
    position: absolute;
    display: block;
    top: 656px;
    left: 385px;
}
.gallery-button {
    background: #18CFAB;
    width: 169px;
    height: 63px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    cursor: pointer;
    text-transform: uppercase;
    padding-left: 40px;
    position: relative;
    box-shadow: 0px -5px 1px 0px #FFFFFF;
    margin-top: 530px;
    margin-left: 521px;
}
.gallery-button::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../images/pseudo/plus.png");
    width: 16px;
    height: 17px;
    left: 19px;
    top: 21px;
} 
footer {
    margin-top: 60px;
    height: 121px;  
    background: #22353F;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__text {
    color: #AEAEAE;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
}
.footer__text-span {
    text-decoration: none;
    color: #18CFAB;
}
