@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap');
body { 
    background-color:  #F2F2F2;
    font-family: Open Sans;
    margin: 0;
    padding: 0;
}
.container {
    margin: auto;
    width: 1140px;
}
.header {
    background: #313131;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}
.header__logo {
    padding-left: 83px;
    padding-top: 15px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    position: relative;
}
.header__logo::before {
    content: "";
    display: block;
    background: url(../images/headerlogo.png);
    position: absolute;
    width: 27px;
    height: 27px;
    top: 18px;
    left: 40px;
}
.header__logo-text {
    color: white;
    text-decoration: none;
}
.header__nav-list {
    list-style: none;
    text-transform: uppercase;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 15px;
    padding-top: 11px;
    display: flex;
    height: 70px;
    margin-right: 50px;
    position: relative;
}
.header__nav-list::after {
    content: "";
    display: block;
    background: black;
    position: absolute;
    width: 75px;
    height: 70px;
    top: -15px;
    right: -504px;
}
.header__li a{
    margin-right: 30px;
    list-style: none;
    color: white;
    text-decoration: none;
}
.header__li a:hover {
    transition: 0.3s;
    color: #14B9D5;
}
.header__search {
    position: relative;
}
.header__search::before {
    content: "";
    display: block;
    background: url(../images/search.png);
    position: absolute;
    width: 17px;
    height: 17px;
    top: 26px;
    right: 30px;
    cursor: pointer;
}
.header__background {
    background-image: url(../images/bg1.png);
    width: 100%;
    height: 369px;
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;

}
.header__title {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    padding-top: 160px;
    margin: 0;
}
.header__buttons button{
   width: 170px;
   height: 55px;
   border-radius: 5px;
   border: 0;
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   color: white;
   margin-right: 20px;
   cursor: pointer;
}
.header__buttons {
    margin-top: 35px;
    margin-left: 390px;
}
.header__buttons-subscribe {
    background-color: #89CA62;
}

.header__buttons-best {
    background-color: #14B9D5;
}
.main__title {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    margin-bottom: 52px;
    margin-top: 42px;
}
.most__popular div {
    background-color: white;    
    max-width: 370px;   
    padding-bottom: 10px;   
    margin-bottom: 30px;
    margin-right: 30px;
}
.cards {
    display: flex;
    width: 1140px;
    position: relative;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.card1 {
    position: absolute;
    left: 0px;
    top: 0px;
}
.card2 {
    position: absolute;
    left: 400px;
    top: 0px;
}
.card3 {
    position: absolute;
    left: 800px;
    top: 0px;
}
.card4 {
    position: absolute;
    left: 0px;
    top: 380px;
}
.card5 {
    position: absolute;
    left: 400px;
    top: 490px;
}
.card6 {
    position: absolute;
    left: 800px;
    top: 400px;
}
.card__text {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
}
.center__background {
    margin-top: 1000px;
    background-image: url(../images/bg2.png);
    width: 100%;
    height: 588px;
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.center__background-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 100px;
    text-transform: uppercase;
    position: relative;
}
.center__background-title::after {
    content: "";
    display: block;
    position: absolute;
    background: #18B4CF;
    width: 60px;
    height: 3px;
    left: 530px;
    top: 239px;
}
.center__background-logies {
    margin-top: 200px;
    margin-left: 85px;
    position: relative;
}
.center__background-logo1, .center__background-logo2, .center__background-logo3, .center__background-logo4 {
    margin-right: 60px;
}
.center__background-logo1 {
    position: absolute;
    left: 0px;
    top: 7px;
}
.center__background-logo2 {
    position: absolute;
    left: 300px;
    top: 2px;
}
.center__background-logo3 {
    position: absolute;
    left: 500px;
    top: 0px;
}
.center__background-logo4 {
    position: absolute;
    left: 800px;
    top: 2px;
}
.top__rated {
    position: relative;
    margin: auto;
    width: 1900;
}
.top__rated-images {
    display: grid;
    margin: auto;
    width: 1900px;
    height: 190px;
    left: 2px;
    top: 72px;
    grid-template-columns: repeat(7, 271px);
}
.hot__news-images {
    display: grid;
    gap: 80px;
    text-align: right;
    grid-template-columns: 21% 20% 20% 21%;
    grid-template-rows: 13% 24% 23% 17%;
}
.hot__news-subtitle-small {
    text-align: center;
    width: 270px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}
.hot__news-card1 {
    grid-column: 1 / 4;
    display: flex;
    align-items: flex-start ;
    height: 259px;
    
}
.hot__news-subtitle-big {
    padding-top: 20px;
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}
.hot__news-text-big {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}
.hot__news-subtitle {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}
.hot__news-text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}
.hot__news-img {
    height: 259px;
}
.hot__news-text-div {
    margin-left: 5px;

}
.hot__news-card2 {
    grid-column: 4 / 4;
    height: 259px;
}
.hot__news-card2 img {
    width: 250px;
}
.hot__news-card3 {
    grid-column: 1 / 3;
}
.hot__news-card4 {
    grid-column: 3 / 5;
}
.hot__news-card5 {
    grid-column: 1 / 3;
}
.hot__news-card6 {
    grid-column: 3 / 5;
}
.hot__news-card7 {
    grid-column: 1 / 1;
}
.hot__news-card8 {
    grid-column: 2/ 5;
    display: flex;

}
.footer {
    width: 100%;
    height: 80px;
    background: #000000;
    display: flex;
    align-items: center;
}
.footer__text {
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
    align-items: center;
}
.footer__content {
    display: flex;
    justify-content: space-between;

}