.container {
    width: 1200px;
    margin: 0 auto;
}
body {
    font-family: Roboto;
}
section {
    padding: 0;
    margin: 0;
}
.header__title {
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    color: #0fcbe4;
}
.ra {
   color: #000000;;
}
.header__nav {
    list-style: none;
    display: flex;
    width: 1280px;
    height: 72px;
    justify-content: center;
    align-items: center;
    background-color: #35444F;
}
.header__links {
    padding: 25px 15px;
    border: 1px solid white;
    text-decoration: none;
  
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

}
.main__content{ 
    display: flex;
}
.main_menu {
    display: flex;
}
.li__main_menu {
    width: 342px;
    height: 81px;
    list-style: none;
}
.menu {
    width: 344px;
    height: 399px;
    border: 1px solid #000000;
}
.menu__links {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
}
.image {
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
    margin-left: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__text {
    margin-left: 400px;
    width: 885px;
    height: 263px;
    text-align:justify;
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.footer__content{
    display: flex;
    width: 1280px;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
    list-style: none;
    align-items: center;
    justify-content: center;
}
.footer__links{
    text-decoration: none;
    padding-right: 25px;
    color: #0C1927;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
}
.header__nav li a:hover {
    transition: 0.5s;
    padding: 25px 15px;
    background-color: #242f36;
}

.footer__links:hover {
    transition: 0.2s;
    color: rgb(9, 141, 141);
    text-decoration: underline;
}
.footer__links__cop {
    text-decoration: none;
    padding-right: 25px;
    color: #0C1927;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
}
/* .main__menu li:hover {
    transition: 0.5s;
    padding-top: 20px;
    background-color: #8d8d8d;
    color: #35444F;
} */