@import "./reset";

$mainTextColor :#4E4E4E; 
$secondTextColor: #7C7C7C;
$hoverColorText: #57A4A4;

body {
    font-family: Roboto, sans-serif;   
}
.container {
    padding: 0px 215px;
    margin: auto;
}
.header {
    position: relative;
}

.burger {
    //display: none;
    height: 83px;
    height: 37px;
    width: 44px;
    background-color: black;
    position: relative;
    display: none;
    > span {
        background-color: #fff;
        width: 17px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 32%;
        transition: all 0.5s;
    }
    > span:nth-of-type(2) {
        background-color: #fff;
        width: 17px;
        height: 2px;
        position: absolute;
        top: 60%;
        left: 32%;
    }
    > span:nth-of-type(3) {
        background-color: #fff;
        width: 17px;
        height: 2px;
        position: absolute;
        top: 40%;
        left: 32%;
    }
}
.menu{
    position: absolute;
    top: 32%;
    left: 31%;
    width: 182px;
    height: 208px;
    background-color: #F5F5F5;
    display: none;

    &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    margin-left: 10px;
} 
}
.menu.active{
    position: absolute;
    top: 32%;
    left: 31%;
    width: 182px;
    height: 208px;
    background-color: #F5F5F5;
    display: block;

    &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    margin-left: 10px;
} 
}

.burger.active {
    //display: none;
    height: 83px;
    height: 37px;
    width: 44px;
    background-color: black;
    position: relative;
    > span {
        background-color: #fff;
        width: 17px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 32%;
        transform: rotate(-45deg);
    }
    > span:nth-of-type(2) {
        background-color: #fff;
        width: 17px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 32%;
        transform: rotate(45deg);
    }
    > span:nth-of-type(3) {
        background-color: #fff;
        width: 17px;
        height: 2px;
        position: absolute;
        top: 40%;
        left: 32%;
        display: none;
    }

}

.header {
     > img {
        width: 100%;
    }
}

.navbar {
    height: 118px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__links-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 90%;
    }
    &__nav-item {
        
        color: $mainTextColor ;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: normal;
        font-size: 11px;
        line-height: 22px;
        transition: all 0.3s;
    }
    &__nav-item:hover {
        transition: all 0.3s;
        color: $hoverColorText;
    }
}

.main {
    margin-top: 50px;

    > h2 {
        color: $mainTextColor;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
        margin-bottom: 24px;
    }
}

.wraper {
        display: grid;
        grid-template-columns: 45% 10% 45%;
        grid-template-rows: 50% 50%;
        &__item1 {
            display: none;
            grid-column-start: 1;
        }
        &__item2 {
            grid-column-start: 3;
        }
        &__item3 {
            grid-column-start: 1;
        }
        &__item4 {
            grid-column-start: 3;
        }
    }

.card {
    display: flex;
    padding-bottom: 32px;

    &__photo {
        width: 100%;
        
    }
    &__text {
        > h3 {
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            color: $mainTextColor;
        }
        > h4 {
            font-weight: normal;
            font-size: 12px;
            line-height: 20px;
            color: $secondTextColor;
            margin-bottom: 14px;
        }
        > p {
            font-weight: normal;
            font-size: 14px;
            line-height: 26px;
            color: #5C5C5C;
        }
    }
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 355px;
    background-color: black;
    color: #B9B9B9;

    &__container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 80%;
        width: 50%;

        > h2 {
            text-transform: uppercase;
            color: #FEFEFE;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
        }
    }
}

@media all and (max-width: 768px) {
    .container {
        padding: 0px 92px;
        margin: auto;
    }

    .burger{
        display: block;
    }

    .navbar {
        height: 95px;
        justify-content: flex-end;
        &__links-box {
            display: none;
        }
    }

    .menu{
        top: 18%;
        left: 69%;
    }
    .menu.active{
        top: 18%;
        left: 69%;
    }

    .wraper {
        display: flex;
        flex-direction: column;
      
    }
    .card {
        &__photo {
            width: 55%;
        }
    }
    .footer {
        &__container{
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            height: 80%;
            width: 80%;
        }
    }
}

@media all and (max-width: 320px) {
    .container {
        padding: 0px 28px;
        margin: auto;
    }

    .burger {
        display: block;
    }

    .main {
        > h2 {
            font-size: 14px;
        }

    }

    .card {
        flex-direction: column;
        &__text{
            > p {
                display: none;
            }
            
        }
    }

    .navbar {
        justify-content: flex-end;
        height: 90px;
        &__links-box {
            display: none;
        }
    }

    .footer {
        &__container {
            > h2 {
                font-size: 14px;
            }
            > p {
                font-size: 12px;
            }
            > p:nth-of-type(2) {
                font-size: 14px;
            }
        }
    }
}