body {
    background: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Ubuntu", sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
header {
    width: 100%;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
}
.header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header__logo {
    padding-left: 100px;
}
.header__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
    
}
.header__contacts-hover {
    transition: 0.5s;
    
}
.header__contacts-hover:hover {
    transition: 0.5s;
    color: #3CB878;
}
.header__contacts-images {
    padding-right: 30px;
}
.header__logo-text {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    transition: 0.5s;
}
.header__logo-text:hover {
    transition: 0.5s;
    color: #3CB878;
}
.header__contacts-img {
    padding-right: 30px;
    transition: 0.5s;
}
.header__contacts-img:hover {
    transition: 0.5s;
    fill: #3CB878;
}
.header__contacts-text { 
    position: relative;
}
.header__contacts-text::before {
    display: block;
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    width: 1px;
    height: 19px;
    top: 0px;
    left: -25px;
}
.form__title {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 10px;
    position: relative;
}
.form__title-sign {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.form__title-login {
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    transition:  all 0.4s;
}
.form__title-login:hover {
    color: #32a067;
    transition:  all 0.4s;
    text-decoration: underline;
}

.main__form {
    position:absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translate(0, -50%);
    width: 444px;
    height: 583px;
    background-color: white;
}
.label {
    color: #434343;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    padding-right: 90px;
    line-height: 14px;
    position: relative;
}
.label::before {
    display: block;
    content: "";
    width: 14px;
    height: 14px;
    border: 1px solid rgb(230, 230, 230);
    position:absolute;
    top: 0;
    left: -18px;
}
.label::after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: url(../images/check.svg) no-repeat ;
    background-size: 14px 14px;
    position: absolute;
    top: 0;
    left: -17px;
    z-index: 1;
    opacity: 0;
}
.form__registr a{
    color: rgba(60, 184, 120, 0.8);
}
.form__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.form__title::before {
    display: block;
    content: "";
    position: absolute;
    background-color:#3CB878;
    width: 18px;
    height: 18px;
    left: -60px;
    top: 19px;
}

.form__buttons-text-facebook {
    text-align: center;
    padding-left: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: white;
    position: relative;
}
.form__buttons-text-google {
    text-align: center;
    padding-left: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: white;
    position: relative;
}
.form__buttons-facebook{
    border-radius: 5px;
    width: 160px;
    height: 48px;
    background: #305DB8;
    border: 0px;
    margin-right: 5px;
    position: relative;
    cursor: pointer;
    transition: ease 0.5s;
}
.form__buttons-google{
    border: 0px;
    border-radius: 5px;
    width: 160px;
    height: 48px;
    background: #DF4A32;
    position: relative;
    cursor: pointer;
    transition: ease 0.5s;
}
.form__buttons-facebook::before {
    display: block;
    content: "";
    position: absolute;
    background-color:#102553;
    mix-blend-mode: normal;
    opacity: 0.1;
    width: 1px;
    height: 28px;
    left: 59px;
    top: 10px;
}
.form__buttons-facebook:hover {
    transition: ease 0.5s;
    background-color: #022263;
}
.form__buttons-google:hover {
    transition: ease 0.5s;
    background-color: #AB1F09;
}
.form__buttons-google::before {
    display: block;
    content: "";
    position: absolute;
    background-color:#2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;
    width: 1px;
    height: 28px;
    left: 59px;
    top: 10px;
}
.form__buttons-text-facebook::before {
    display: block;
    content: "";
    position: absolute;
    background: url(../images/facebook.svg);
    width: 12.46px;
    height: 24px;
    left: 18px;
    top: -4px;
}

.form__buttons-text-google::before {
    display: block;
    content: "";
    position: absolute;
    background: url(../images/google.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 19px;
    left: 13px;
    top: -1px;
}
.form__registr h5{
    text-align: center;
    color: #848484;
}
.form__pseudo {
    position: relative;
}
.form__pseudo::before{
    display: block;
    content: "";
    position: absolute;
    background: #c7c7c7;;
    width: 152px;
    height: 1px;
    left: 58px;
    top: 8px;
}.form__pseudo::after{
    display: block;
    content: "";
    position: absolute;
    background: #c7c7c7;;
    width: 152px;
    height: 1px;
    left: 233px;
    top: 8px;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form__input {
    margin-bottom: 10px;
    width: 325px;
    height: 44px;
    padding-left: 20px;
    color: #1f1f1f;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
}
.form__input:focus {
    transition: 0.5s;
    border: none;
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    width: 324px;
    height: 46px;
    
}
.form__checkbox{
    position: relative;
    
}
.form__checkbox a {
    transition: 0.5s;
}
.form__checkbox:hover a {
    color: #01813F;
    transition: 0.5s;
    text-decoration: underline;
}
.checkbox {
    z-index: 3;
    /* -webkit-appearance: none;
    appearance: none;  */
    position: absolute;
    left: -16px;
    top: 4px;
    opacity: 0;
}

.checkbox:checked + .label::after {
    opacity: 1;
}
.form__button {
    width: 324px;
    height: 46px;
    border-radius: 4px;
    border: 0px;
    margin-top: 25px;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: white;
    background: rgba(60, 184, 120, 0.8);
    cursor: pointer;
    transition: 0.5s;
}
.form__button:hover {
    background: #01813F;
    transition: 0.5s;
}